.App {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.form-style {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000; /* This will ensure the form stays on top */
}





